body {
  background-color: #222;
}

.banner-bg {
  --s: 150px; /* control the size */
  --c1: #363636;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
  border: 10px solid darkslategray;
}

.app-container-start {
  background-color: #5a615b;
  min-height: 30vh;
}

.text-inlay {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background: linear-gradient(
  to bottom,
  #97aa89,
  #97aa89 50%,
  #627765 50%,
  #627765
  );
  background-size: 20% 15px;
  background-clip: text;
  display: block;
  text-shadow: 2px -2px 10px white;
}

.cantata-one-regular {
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
}

.step-1 {
  font-family: 'PT Serif', serif, sans-serif;
  text-shadow: 0px 5px 5px #4b4b4b;
}

.learn-more {
  font-family: 'Lora', sans-serif;
  color: #2196f3;
}

.step-2 {
  font-family:'Lucida Sans', sans-serif, Verdana;
  font-size: 14px;
}

.media-box {
  background: #464646;
  flex: 1 100%;
  position: relative;
  background: linear-gradient(to bottom, #85a19f, #9fb8cf);
  padding: 10px;
  margin-top: 20px;
  border-top: 10px solid gray;
}

.flex-mobi {
  display: flex;
  flex-direction: column;
}

.modal-style {
  display:flex;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3b3b3bd0;
  width: 700px;
  border: 3px solid #000000ad;
  flex-direction: column;
  padding: 20px;
  z-index: 5;
}

.modal-style-2 {
  background-color: #4d4d4deb;
}

.mytbl{
  max-height: calc(100vh - 120px);
  overflow-y: scroll;
}

.app-container {
  --s: 46px; /* control the size */
  --g: 0px; /* control the gap */
  --c: #4e4f51; /* first color */
  --_l: #0000 calc(33% - .866*var(--g)),var(--c) calc(33.2% - .866*var(--g)) 33%,#0000 34%;
  background:
    repeating-linear-gradient(var(--c) 0 var(--g), #0000 0 50%)
      0 calc(.866*var(--s) - var(--g)/2),
    conic-gradient(from -150deg at var(--g) 50%,var(--c) 120deg,#0000 0),
    linear-gradient(-120deg,var(--_l)),linear-gradient( -60deg,var(--_l))
    #3c3c3c; /* second color */
  background-size: var(--s) calc(3.466*var(--s));
}

.add-post {
  display: flex;
  padding: 10px;
}

form {
  padding: 3rem;
  background-image: linear-gradient(120deg,#c4c4c4 15%, #bebebe 30%, #e6e6e6 55%, #a8a8a8 85%); 
  border: 7px solid #c2c2c2;
  display: grid;
  gap: 2rem;
  background-position: 0% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-family: 'Lora', Helvetica, sans-serif;
  font-size: 17px;
}

form h3 {
  margin: 0px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

#post-title {
  width: 100%;
  height: 3rem;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#post-title-h3 {
  width: 100%;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#post-content {
  width: 100%;
  height: 18rem;
  resize: none;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  padding: 15px;
}

textarea, input {
  border-radius: 10px;
  border: 2px solid #8f8f8f;
}

.posts-item {
  position: relative;
  border: 4px solid #8d8d8d;
  border-radius: 5px;
  background-color: #979797;
  box-shadow: -1px 6px 8px #535353;
  margin-top: -3px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 10px;
  font-family: 'Lora', sans-serif, Helvetica;
  font-size: 17px;
  max-height: 4ch;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: normal;
  display: block;
  background-image: linear-gradient(180deg, #a0a0a0 0%, #787a85 99%);
  background-position: 0% 50%;
  cursor: pointer;
  transition: 2s opacity ease-out;
  opacity: 1;
}

.posts-item-fade {
  opacity: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 100% 100%;
  }
}

@keyframes gradient-2 {
  0% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 125% 100%;
  }
}

@keyframes animate-start {
  0% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  75% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes animate-end {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.posts-container {
  padding: 10px;
  transform: scale(1, 1);
}

.posts-bar-item {
}

.animate-content-start {
  animation: animate-start calc(1s * var(--i)) ease;
}

.animate-content-start-def {
  animation: animate-start 2s ease;
}

.animate-content-end {
  animation: animate-end 3s ease;
}

.filler {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.filler-full {
  max-height: 1000px;
}

.filler2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}

.filler2-full {
  max-height: 400px;
}

.post-title {
  background-size: 125% 100%;
  background-position: 0% 50%;
  padding-top: 20px;
}

.posts-item:hover {
  background-size: 150% 150%;
	animation: gradient infinite ease;
}

.post-title-focus {
  background-size: 125% 100%;
	animation: gradient-2 4s ease;
  padding-top: 20px;
  background-position: 0% 50%;
}

.post-arrow-right {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 1s right ease;
  background-color: #a9a9a9e6;
  border-radius: 10px;
}

.post-arrow-right-hover {
  right: -20px;
}

.current-post-title {
  background-color: #b4b4b4;
  padding: 15px;
  border-radius: 10px;
}

.current-post-content {
  padding: 15px;
  background-image: linear-gradient(180deg, #818181 10%, #727272 90%);
  border: 4px solid grey;
  border-radius: 10px;
  cursor:initial;
}

.card {
  background-color: whitesmoke !important;
  margin: 5px;
}

.song-results {
  background-color: grey;
  padding: 0px;
  display: flex;
  opacity: .6;
}

.alternate {
  background-color: #c4c4c4 !important;
  margin: 10px;
}

.last-font {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  padding: 10px;
  margin-bottom: -10px;
}

.choose-plus {
  font-family:'Lucida Sans', Geneva, sans-serif;
  font-size: 13px;
  padding: 10px;
}

.title-font {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.artist-font {
  font-family: Geneva, sans-serif;
  color: #242a61;
  font-weight: 550;
}

.song-tile {
  padding: 5px;
  flex: 0 100%;
}

.song-tile-font {
  margin: -10px;
  font-family: 'Lucida Sans Regular', sans-serif, Verdana
}

.song-tile-artist {
  margin: -10px;
  font-family: 'Lucida Sans Regular', sans-serif, Verdana
}

.book-tile {
  padding: 5px;
  flex: 0 100%;
}

.book-tile-font {
  margin: -10px;
  font-family: 'Lucida Sans Regular', sans-serif, Verdana
}

.book-tile-artist {
  margin: -10px;
  font-family: 'Lucida Sans Regular', sans-serif, Verdana
}

.audio-file {
  border-bottom: 3px solid #183492;
}

.menu-book {
  border-bottom: 3px solid #183492;
}

@keyframes showItem {
  0% {
    transform: translate(0px, 0);
    opacity: .25;
    mix-blend-mode: lighten;
  }
  50% {
    transform: translate(15px, 0);
    opacity: .75;
  }
  100% {
    transform: translate(-0px, 0);
    opacity: 1;
  } 
}

.anim-show-item {
  animation: showItem .45s linear;
}

.select-play {
  animation: selectPlay 3s ease-out;
}

@keyframes selectPlay {
  0% {
    opacity: 1;
    margin-left: 0px;
    transform: translateX(calc(-0px * var(--i)));
  }
  50% {
    opacity: .5;
    margin-left: calc(4px * var(--i));
    transform: translateX(calc(-6px * var(--i)));
  }
  100% {
    opacity: 0;
    margin-left: calc(8px * var(--i));
    transform: translateX(calc(-12px * var(--i)));
  }
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
  .flex-mobi {
    flex-direction: column;
  }
  .modal-style {
    width: 600px;
  }
  .media-box {
    margin-top: 0px;
    border-top: 0px;
  }
  .posts-item {
    max-height: 6ch;
  }
}

@media screen and (max-width: 575px) {
  .modal-style {
    width: 300px;
  }
  .song-tile-font {
    font-family: monospace, sans-serif, Verdana;
  }
  .song-tile-artist {
    font-family: monospace, sans-serif, Verdana;
  }
  .book-tile-font {
    font-family: monospace, sans-serif, Verdana;
  }
  .book-tile-artist {
    font-family: monospace, sans-serif, Verdana;
  }
}